* {
	transition: all ease 0.4s;
}

$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

.animation {
	&--artemis {
		animation: artemis 2.4s steps(15);
		animation-iteration-count: 1;
	}
	&--biche {
		animation: biche 1s steps(4) 1;
	}
	&--fleurs {
		animation: fleurs 1s steps(3) 1;
	}
	&--shatter {
		-webkit-mask: url('./assets/videos/shatter/shatter.png');
		mask: url('./assets/videos/shatter/shatter.png');
		-webkit-mask-size: 100% 2900%;
		mask-size: 100% 2900%;
		-webkit-animation: shatter 2.4s steps(29) backwards;
		animation: shatter 3.2s steps(29) forwards;
		animation-iteration-count: 1;
	}
}

@keyframes artemis {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -8085px 0;
	}
}

@keyframes biche {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -2488px 0;
	}
}

@keyframes fleurs {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -882px 0;
	}
}

@keyframes fleurs-2 {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -903px 0;
	}
}

@keyframes shatter {
	0%,
	20% {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
		opacity: 1;
	}

	80%,
	100% {
		-webkit-mask-position: 0 100%;
		mask-position: 0 100%;
		opacity: 0;
	}
}
