@import './styles/theme';

body {
	@include size(100vw, 100vh);
	position: relative;
}

.app__overlay {
	pointer-events: none;
	@include size(100%, 100%);
	@include abs-pos();
	overflow: hidden;
	z-index: 9999;
}

.app {
	@include size(100%, 100%);
	@include abs-pos();
	overflow: hidden;
	perspective: 1000;
	color: $text;
	background: $bg;

	@include base-lettering;
	@include montserrat;

	.wrapper {
		@include size(500%, 100%);
		display: flex;

		section {
			@include size(100%/5, 100%);
			display: flex;
			align-items: center;
			justify-content: center;

			&:nth-child(1) {
				background: #262626;
			}
			&:nth-child(2) {
				background: #22a7f0;
			}
			&:nth-child(3) {
				background: #f9690e;
			}
			&:nth-child(4) {
				background: #9b59b6;
			}
			&:nth-child(5) {
				background: #03c9a9;
			}
		}
	}
}
