@import './styles/theme';

body {
	@include size(100vw, 100vh);
	overflow: hidden;
	position: relative;
}

.app__overlay {
	pointer-events: none;
	@include size(100%, 100%);
	@include abs-pos();
	overflow: hidden;
	z-index: 9999;
}

.app {
	@include size(100%, 100%);
	overflow: hidden;
	color: $text;
	background: $bg;

	@include base-lettering;
	@include montserrat;

	&__fixed {
		@include size(100%, 100%);
		@include abs-pos;
		z-index: 1;
		pointer-events: none;

		.arrow {
			@include size(auto, 42px);
			@include abs-pos(29.2%, 61%);
			transform: translate(-50%, -50%) rotate(-2deg);
			opacity: 0;
		}

		// .instructions {
		// 	@include abs-pos(90%, 50%, -50%, -50%);
		// }

		#song {
			//width: 2%;
			@include size(30px, auto);
			@include abs-pos(90%, 95%, -50%, -50%);
			cursor: pointer;
			pointer-events: all;
			path {
				&:hover {
					fill: red;
				}
			}
		}
	}

	&__scenes {
		@include size(100%, 100%);
		overflow: hidden;

		&__wrapper {
			@include size(900%, 100%);
			display: flex;
		}

		&__fx {
			> * {
				position: absolute;
			}

			&--shattering {
				perspective: 500px;
				&__content {
					@include size(100%, 100%);
					@include center-content;
				}
				canvas {
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
				}
			}
		}

		.texte {
			@include abs-pos(90%, 50%, -50%, -50%);
			opacity: 1;
		}

		section {
			@include size(100%/9, 100%);
			@include center-content;
			position: relative;
			overflow: hidden;
			background-image: url('./assets/images/fond.jpg');
			background-size: cover;
			border: 1px solid red;

			&:nth-of-type(1) {
			}
			&:nth-of-type(2) {
				@at-root {
					.artemis {
						&__wrapper {
							@include abs-center(
								$vertical: false,
								$horizontal: true,
								$transform: scale(0.7)
							);
							@include size(539px, 662px);
							bottom: 20%;
							overflow: hidden;
							transform-origin: bottom;
						}

						@include size(100%, 100%);
						background-image: url('./assets/videos/artemis/anim-artemis.png');
						background-repeat: no-repeat;
						cursor: pointer;
					}

					.biche {
						&__wrapper {
							@include abs-center(
								$vertical: 10%,
								$transform: scale(0.7)
							);
							@include size(610px, 662px);
							bottom: 20%;
							left: 64%;
							overflow: hidden;
							transform-origin: bottom;
						}

						@include size(100%, 100%);
						background-image: url('./assets/videos/biche/anim-biche.png');
						background-repeat: no-repeat;
						cursor: pointer;
					}
				}
			}
			&:nth-of-type(3) {
				#artemise-cerf {
					width: 30%;
					bottom: 20%;
					right: 22%;
				}
				#antilope {
					width: 20%;
					bottom: 20%;
					left: 23%;
				}
				#loup {
					width: 25%;
					bottom: 20%;
					left: 2%;

					&:hover {
						cursor: pointer;
					}
				}
				#cheval {
					width: 20%;
					bottom: 20%;
					right: 0;
					margin-right: 10px;
				}
				#oiseau {
					width: 12%;
					top: 25%;
					left: 5%;
				}
				#plante-accrochee {
					width: 25%;
					top: 14%;
					left: 30%;
				}
			}
			&:nth-of-type(4) {
				#montagnes {
					bottom: 18%;
				}
				#fleurs {
					bottom: 18%;
				}
				#plante-tombee {
					width: 55%;
					left: 16%;
					top: 14%;
				}
				#premier-plan {
					bottom: 18%;
				}
			}
			&:nth-of-type(5) {
				#enfant {
					width: 10%;
					bottom: 19%;
					left: 2%;
				}
				#groupe-de-femme {
					width: 30%;
					bottom: 19%;
					left: 5%;
				}
				#femme-bebe {
					width: 14%;
					bottom: 19%;
				}
				#artemis {
					width: 19%;
					bottom: 19%;
					right: 23%;
				}
				#femme-penchee {
					width: 17%;
					bottom: 25%;
					right: 3%;
				}
			}
			&:nth-of-type(6) {
				#paysage {
					bottom: 19%;

				}
				#bateau {
					width: 15%;
					bottom: 23%;
					left: 10%;
				}
				#artemis {
					width: 12%;
					right: 6%;
					bottom: 20%;
				}
				#plantes {
					width: 10%;
					right: 29%;
					bottom: 30.5%;
				}
				#poisson {
					width: 5%;
					bottom: 20%;
					left: 35%;
				}
				#vague {
					width: 20%;
					left: 8%;
					bottom: 20%;
				}
				#nuages-droite {
					width: 20%;
					top: 30%;
					left: 30%;
				}
				#nuages-gauche {
					width: 19%;
					top: 33%;
					left: 10%;
				}
				#nuages-bas {
					width: 21%;
					top: 48%;
					left: 26%;
				}
				#lune {
					opacity: 0;
					width: 6%;
					top: 33%;
					left: 27%;
				}
			}
			&:nth-of-type(7) {
				#soleil {
					width: 6%;
					right: 18%;
					top: 28%;
				}
				#nuage-droite-7 {
					width: 17%;
					right: 3%;
					top: 25%;
				}
				#nuage-gauche-7 {
					width: 20%;
					right: 17%;
					top: 30%;
				}
				#nuage-bas-7 {
					right: 17%;
					width: 15%;
					top: 45%;
				}
				#apollon {
					width: 15%;
					bottom: 20%;
					left: 15%;
				}
				#pierre {
					bottom: 19%;
					left: 36%;
					width: 10%;
				}
				#rocher {
					width: 40%;
					bottom: 18%;
					left: 2%;
				}
				#plante-7 {
					bottom: 19%;
					width: 15%;
					right: 35%;
				}
				#temple {
					width: 40%;
					left: 22%;
					bottom: 35%;
				}
				#paysage {
					bottom: 19%;
				}
			}

			.img {
				position: absolute;
			}
		}
	}
}
