@import './styles/theme';

body {
	@include size(100vw, 100vh);
	overflow: hidden;
	position: relative;
}

.app__overlay {
	pointer-events: none;
	@include size(100%, 100%);
	@include abs-pos();
	overflow: hidden;
	z-index: 9999;
}

.app {
	@include size(100%, 100%);
	overflow: hidden;
	color: $text;
	background: $bg;

	@include base-lettering;
	@include mansalva;

	canvas {
		@include abs-center;
		@include size(100%, 100%);
	}

	&__fixed {
		@include size(100%, 100%);
		@include abs-pos;
		z-index: 1;
		pointer-events: none;

		.arrow {
			@include size(auto, 42px);
			@include abs-pos(29.2%, 61%);
			transform: translate(-50%, -50%) rotate(-2deg);
			opacity: 0;
		}

		// .instructions {
		// 	@include abs-pos(90%, 50%, -50%, -50%);
		// }

		#song {
			//width: 2%;
			@include size(30px, auto);
			@include abs-pos(90%, 95%, -50%, -50%);
			cursor: pointer;
			pointer-events: all;
			path {
				&:hover {
					fill: red;
				}
			}
		}
	}

	&__scenes {
		@include size(180vh, 100vh);
		overflow: hidden;

		&__wrapper {
			@include size(100+(180vh*7), 100%);
			display: flex;
		}

		&__fx {
			> * {
				position: absolute;
			}

			&--shattering {
				perspective: 500px;
				&__content {
					@include size(100%, 100%);
					@include center-content;
				}
				canvas {
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
				}
			}
		}

		.texte {
			font-family: 'Mansalva', sans-serif;
			font-size: 20px;
			text-align: center;
		}

		section {
			@include size(180vh, 100vh);
			@include center-content;
			position: relative;
			overflow: hidden;
			background-image: url('./assets/images/fond.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			border: 1px solid red;

			&#one {
				width: 100vw;
				@at-root {
					.artemis {
						&__wrapper {
							@include abs-center(
								$vertical: false,
								$horizontal: true,
								$transform: scale(0.7)
							);
							@include size(539px, 662px);
							@include center-content;
							bottom: 20%;
							transform-origin: bottom;
							cursor: pointer;

							> * {
								@include noselect;
							}
						}

						&__fragment {
							position: relative;
							display: block;
							z-index: 1;
							opacity: 1;
						}

						@include size(100%, 100%);
						position: absolute;
						background-image: url('./assets/videos/artemis/anim-artemis.png');
						background-repeat: no-repeat;
						opacity: 0;
					}
				}
			}
			&#two {
				.biche {
					&__wrapper {
						// position: relative;
						position: absolute;
						width: 25%;

						transform-origin: bottom;
						// margin: 0 auto 0 auto;
						padding: 0;
						bottom: 19%;
						right: 25%;

						//transform: translate(-150%);

						//left: 50%;

						&:before {
							content: "";
							display: block;
							padding-top: 98.85%;
						}
					}

					margin: 0;
					padding: 0;

					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: url('./assets/videos/biche/anim-biche-verticale.png');
					// background-repeat: no-repeat;
					// background-size: 400%;
					background-size: cover;
					//width: 200px;
					// padding-bottom: 100%;
					background-position: 0 0;
					display: block;
					cursor: pointer;
				
				}
				.texte-3 {
					@include abs-pos(48%, 35%, -50%, -50%);
					width: 50vh;
				}
				#artemise-cerf {
					width: 30%;
					bottom: 20%;
					right: 22%;
				}
				#antilope {
					width: 20%;
					bottom: 20%;
					left: 23%;
				}
				#loup {
					width: 25%;
					bottom: 20%;
					left: 2%;

					&:hover {
						cursor: pointer;
					}
				}
				#cheval {
					width: 15%;
					bottom: 20%;
					right: 5%;
				}
				#oiseau {
					width: 20%;
					top: 25%;
					left: 5%;
				}
				#plante-accrochee {
					width: 25%;
					top: 17%;
					left: 30%;
				}
				#myrtille {
					width: 25%;
					bottom: 19%;
					right: 0;
				}
			}
			&#three {
				.fleurs {

				&__wrapper {
					// position: relative;
					position: absolute;
					width: 15%;
					transform-origin: bottom;
					padding: 0;
					bottom: 19%;
					left: 7%;

					&:before {
						content: "";
						display: block;
						padding-top: 145.93%;
					}
				}

				margin: 0;
				padding: 0;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: url('./assets/videos/fleurs/anim-fleur-verticale.png');
				// background-size: 300%;
				background-repeat: repeat-y;
				background-size: cover;
				background-position: 0 0;
				display: block;
				cursor: pointer;
			
			}

				.fleurs2 {

					&__wrapper {
						// position: relative;
						position: absolute;
						width: 18%;

						transform-origin: bottom;
						padding: 0;
						bottom: 19%;
						right: 46%;

						&:before {
							content: "";
							display: block;
							padding-top: 103.95%;
						}
					}

					margin: 0;
					padding: 0;

					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: url('./assets/videos/fleurs-2/anim-fleurs-2-verticale.png');
					// background-size: 300%;
					background-repeat: repeat-y;
					background-size: cover;
					background-position: 0 0;
					display: block;
					cursor: pointer;
				
				}
				.fleurs3 {
					&__wrapper {
						// position: relative;
						position: absolute;
						width: 15%;
						transform-origin: bottom;
						padding: 0;
						bottom: 20%;
						right: 16%;

						&:before {
							content: "";
							display: block;
							padding-top: 134.71%;
						}
					}

					margin: 0;
					padding: 0;

					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					background: url('./assets/videos/fleurs-3/anim-fleurs-3-verticale.png');
					// background-size: 300%;
					background-repeat: repeat-y;
					background-size: cover;
					background-position: 0 0;
					display: block;
					cursor: pointer;
				
				}
				.texte-4 {
					@include abs-pos(32%, 19%, -50%, -50%);
					width: 40vh;
				}
				#montagnes {
					bottom: 18%;
					width: 180vh;
				}
				#plante-tombee {
					width: 55%;
					left: 2%;
					top: 16%;
				}
				#fleurs-fixes {
					bottom: 18%;
					width: 180vh;
				}
				#premier-plan {
					bottom: 18%;
					width: 180vh;
				}
			}
			&#four {
				.bebe {
				&__wrapper {
					// position: relative;
					position: absolute;
					width: 12%;
					transform-origin: bottom;
					padding: 0;
					bottom: 19%;
					left: 38%;

					&:before {
						content: "";
						display: block;
						padding-top: 231.88%;
					}
				}

				margin: 0;
				padding: 0;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: url('./assets/videos/femme-bebe/anim-femme-bebe-vertical.png');
				background-repeat: repeat-y;
				background-size: cover;
				background-position: 0 0;
				display: block;
				cursor: pointer;
			}
			
			.texte-5 {
				@include abs-pos(30%, 82%, -50%, -50%);
				width: 50vh;
			}
				#enfant {
					width: 10%;
					bottom: 19%;
					left: 2%;
				}
				#groupe-de-femme {
					width: 30%;
					bottom: 19%;
					left: 5%;
				}
				#artemis {
					width: 17%;
					bottom: 19%;
					right: 33%;
				}
				#lamare {
					width: 25%;
					bottom: 18%;
					right: 0;
				}
				#poissons {
					width: 10%;
					right: 5%;
					bottom: 21%;
				}
				#femme-penchee {
					width: 17%;
					bottom: 25%;
					right: 15%;
				}
			}
			&#five {

				.texte-6 {
					@include abs-pos(30%, 67%, -50%, -50%);
					width: 50vh;
				}
				#paysage {
					bottom: 19%;
					width: 180vh;
				}
				#bateau {
					width: 18%;
					bottom: 23%;
					left: 3%;
				}
				#artemis {
					width: 22%;
					right: 0%;
					bottom: 20%;
				}
				#plantes {
					width: 10%;
					right: 29%;
					bottom: 38.5%;
				}
				#poisson {
					width: 5%;
					bottom: 20%;
					left: 35%;
				}
				#vague {
					width: 18%;
					left: 4%;
					bottom: 19%;
				}
				#nuages-droite {
					width: 20%;
					top: 30%;
					left: 30%;
				}
				#nuages-gauche {
					width: 19%;
					top: 33%;
					left: 10%;
				}
				#nuages-bas {
					width: 21%;
					top: 48%;
					left: 26%;
				}
				#pierre {
					width: 22%;
					bottom: 19%;
					right: 32%;
				}
				#lune {
					opacity: 1;
					width: 6%;
					top: 33%;
					left: 27%;
				}
			}
			&#six {
				.texte-7 {
					@include abs-pos(70%, 62%, -50%, -50%);
					width: 45vh;
				}
				#soleil {
					width: 6%;
					right: 18%;
					top: 28%;
				}
				#nuage-droite-7 {
					width: 17%;
					right: 3%;
					top: 25%;
				}
				#nuage-gauche-7 {
					width: 20%;
					right: 17%;
					top: 30%;
				}
				#nuage-bas-7 {
					right: 17%;
					width: 15%;
					top: 45%;
				}
				#apollon {
					width: 15%;
					bottom: 20%;
					left: 15%;
				}
				#pierre {
					width: 22%;
					bottom: 19%;
					right: 32%;
				}
				#plante-7 {
					bottom: 18%;
					width: 15%;
					right: 13%;
				}
				#temple {
					width: 40%;
					left: 18%;
					bottom: 40%;
				}
				#paysage {
					bottom: 19%;
					width: 180vh;
				}
				#arbre-7 {
					width: 10%;
					left: 0;
				}
				#pierre-haut {
					width: 8%;
					left: 38%;
					bottom: 35%;

				}
				#pierre-droite {
					width: 10%;
					right: 15%;
					bottom: 21%;

				}
				#pierre-gauche {
					width: 12%;
					left: 37%;
					bottom: 18%;
				}
				#rocher {
					width: 40%;
					bottom: 18%;
					left: 2%;
				}
			}
			&#seven {
				.artemisarc {
				&__wrapper {
					// position: relative;
					position: absolute;
					width: 50%;
					transform-origin: bottom;
					padding: 0;
					bottom: 13.5%;
					left: 50%;
					transform: translate(-40%, 0);

					&:before {
						content: "";
						display: block;
						padding-top: 73.12%;
					}
				}

				margin: 0;
				padding: 0;

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: url('./assets/videos/artemis-arc/anim-artemis-arc-vertical.png');
				background-repeat: repeat-y;
				background-size: cover;
				background-position: 0 0;
				display: block;
				cursor: pointer;
			
			}
			
			.texte-8 {
				@include abs-pos(50%, 20%, -50%, -50%);
				width: 45vh;
			}

			}

			.img {
				position: absolute;
			}
		}
	}
}
